/* Theme font */

@font-face {
    font-family: "Geometria Light";
    src: url("geometria-light.otf");
}


/* Common UI : background image */

body {
    background-image: url("rain.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Common UI : navigation bar */

.navbar {
    /* Navigation bar container */
    background-color: black;
    border-radius: 0;
}

nav div.container-fluid div.navbar-header span.pull-left {
    /* Mini logo in navigation bar */
    padding-top: 12px;
}

nav div.container-fluid div.navbar-header span.navbar-brand {
    /* Website name */
    font-family: "Geometria Light";
    color: white;
    text-decoration: none;
}

nav div.container-fluid ul.nav.navbar-nav li a {
    /* Passive page */
    font-family: "Geometria Light";
    color: white;
    text-decoration: none;
}

nav div.container-fluid ul.nav.navbar-nav li.nav-item.nav-link a:hover {
    /* Passive page on mouse over */
    color: #82dcff;
    transition: 0.5 s;
}

nav div.container-fluid ul.nav.navbar-nav li.active a {
    /* Active page */
    font-family: "Geometria Light";
    color: #00c3ff;
    text-decoration: none;
}

nav div.container-fluid ul.nav.navbar-nav li.nav-item.nav-link.active a:hover {
    /* Active page on mouse over */
    color: #00c3ff;
}

nav div.container-fluid ul.nav.navbar-nav.navbar-right li.nav-item span.navbar-text {
    /* Current time */
    font-family: "Geometria Light";
    color: white;
    text-decoration: none;
}

.container {
    /* Logo container */
    padding-top: 6%;
}

img.img-responsive {
    /* All umbrella logo except form */
    margin: 0 auto;
}

h2.rainyday {
    /* RainyDay text */
    font-family: "Geometria Light";
    color: black;
}

div h4.description {
    /* Description about RainyDay */
    font-family: "Geometria Light";
    color: black;
}

#start {
    /* Get Started button */
    background-color: #00c3ff;
    color: white;
    border-style: none;
}

div img.umbrella-form {
    /* Umbrella icon in form */
    display: block;
    float: left;
    padding-left: 20px;
}

h2.rainyday-form {
    /* RainyDay text */
    display: block;
    float: left;
    font-family: "Geometria Light";
    color: black;
    padding-left: 10px;
}

div div form.form-horizontal {
    /* Form */
    padding-top: 20px;
}

#dropdown-button {
    /* Dropdown button */
    background-color: #00c3ff;
    color: white;
}

#updater {
    /* Update button */
    background-color: #82dcff;
    background-image: url("sync.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
}

#message {
    /* Message */
    font-family: "Geometria Light";
    color: black;
    padding-top: 20px;
}

div.row.about-page {
    /* Row container for umbrella icon, RainyDay, about RainyDay */
    margin-top: 12%;
}

div.page-logo {
    /* Container for umbrella icon, RainyDay */
    border-style: solid;
    border-color: black;
    border-right-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

div h4.about {
    /* Container for about RainyDay */
    font-family: "Geometria Light";
    color: black;
}