<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <script src="~/js/time.js"></script> -->
    <script src="~/js/ajax_test.js"></script>
    <title> RainyDay, your daily news solution. </title>
</head>

<body id="main">
    <ul class="menu">
        <li class="menu_logo"><img src="~/images/rainyday30.png"></li>
        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="passive">@Html.ActionLink("About", "About", "Home")</li>
        <li id="time"> Loading locale time... </li>
    </ul>

    <div align="center" vertical-align="middle">
        <img class="logo" id="logo" src="~/images/rainyday100.png">
        <img class="logo" src="~/images/rainyday_font.png">
    </div>

    <h3 id="subtitle"> Your daily news solution. </h3>

    <div align="center" vertical-align="middle">
        <form method="get" action="@Url.Action("Search","Home")">
            <input type="text" id="keyword" name="keyword" placeholder="Type any keyword here">

            <select id="algorithm" name="algorithm">
                <option value="KMP"> KMP </option>
                <option value="Boyer-Moore"> Boyer-Moore </option>
                <option value="Regex"> Regex </option>
            </select>

            <button type="reset" id="search" value="submit"> Search </button>
        </form>
    </div>

    <br />
    <br />
    <div align="center"><h4 id="your_keyword">You typed : </h4></div>
    
</body>

</html>