<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script type="text/javascript" src="~/js/time.js"></script>
    <title> RainyDay, your daily news solution. </title>
</head>

<body id="main" onload="ShowTime()">
    <ul class="menu">
        <li class="menu_logo"><img src="~/images/rainyday30.png"></li>
        <li class="active">@Html.ActionLink("Home", "index", "Home")</li>
        <li class="passive">@Html.ActionLink("About", "about", "Home")</li>
        <li id="time"> Loading locale time... </li>
    </ul>

    <div align="center" vertical-align="middle">
        <img class="logo" id="logo" src="~/images/rainyday100.png">
        <img class="logo" src="~/images/rainyday_font.png">
    </div>

    <h3 id="subtitle"> Your daily news solution. </h3>

    <div align="center" vertical-align="middle">
        <form method="get" action="@Url.Action("search","Home")">
            <input type="text" id="keyword" name="keyword" placeholder="Type any keyword here">

            <select id="algorithm" name="algorithm">
                <option value="KMP"> KMP </option>
                <option value="Boyer-Moore"> Boyer-Moore </option>
                <option value="Regex"> Regex </option>
            </select>

            <button type="submit" id="search" value="submit"> Search </button>
        </form>
    </div>
</body>

</html>