<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script type="text/javascript" src="~/js/time.js"></script>
    <title> RainyDay - Search Results </title>
</head>

<body onload="ShowTime()">
    <ul class="menu" id="menu">
        <li class="menu_logo"><img src="~/images/rainyday30.png"></li>
        <li class="passive">@Html.ActionLink("Home", "index", "Home")</li>
        <li class="passive">@Html.ActionLink("About", "about", "Home")</li>
        <li id="time"> Loading locale time... </li>
    </ul>

    <br />
    <br />
    <br />

    <p>@Model.keyword_input</p>
    <p>@Model.algorithm</p>
</body>

</html>