<html>

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="~/js/script.js"></script>

    <title> RainyDay - Search and Update News! </title>
</head>

<body id="main">
    <ul class="menu">
        <li class="menu_logo"><img src="~/images/rainyday30.png"></li>
        <li class="passive">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">@Html.ActionLink("Search", "Search", "Home")</li>
        <li class="passive">@Html.ActionLink("About", "About", "Home")</li>
        <li id="time"> Loading locale time... </li>
    </ul>

    <div id="search_and_update">
        <img class="form_logo" id="form_logo" src="~/images/rainyday80.png">
        <img class="form_logo" src="~/images/rainyday_font80.png">

        <form>
            <input type="text" id="keyword" name="keyword" placeholder="Type any keyword here">

            <select id="algorithm" name="algorithm">
                <option value="KMP"> KMP </option>
                <option value="Boyer-Moore"> Boyer-Moore </option>
                <option value="Regex"> Regex </option>
            </select>

            <input type="button" id="updater" value="">
        </form>
    </div>

    <div id="update_message">
        <h4 id="message"></h4>
    </div>

    <!-- news content here-->
    <div class="news_feed">
        <!--
            <div class="news_content">
            <h2>News Headline Here</h2>
            <h4>URL here</h4>
            <p> News date here</p>
            <h3>News content here</h3>
            <img class="news_picture" src="~/images/rainyday30.png">
        </div>
        <div class="news_content">
            <h2>News Headline Here</h2>
            <h4>URL here</h4>
            <p> News date here</p>
            <h3>News content here</h3>
            <img class="news_picture" src="~/images/rainyday30.png">
        </div>
        <div class="news_content">
            <h2>News Headline Here</h2>
            <h4>URL here</h4>
            <p> News date here</p>
            <h3>News content here</h3>
            <img class="news_picture" src="~/images/rainyday30.png">
        </div>
        //-->
    </div>
</body>

</html>