/* Theme font */

@font-face {
    font-family: "Tekton";
    src: url("Tekton.otf");
}


/* Common UI : navigation bar */

ul.menu {
    /* Horizontal navigation bar */
    list-style-type: none;
    top: 0;
    left: 0;
    height: 6%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: black;
}

ul.menu li.active,
ul.menu li.passive {
    /* All links container */
    float: left;
}

ul.menu li.menu_logo {
    /* Umbrella icon on the left of navigation bar */
    display: block;
    float: left;
    color: white;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

ul.menu li a {
    /* All links */
    display: block;
    line-height: 35px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-family: "Tekton";
}

ul.menu li.passive:hover a {
    /* Passive link on mouse over */
    color: #fffd99;
}

ul.menu li.active a {
    /* Active link */
    color: #d1ff99;
}

#time {
    /* Time */
    display: block;
    height: 100%;
    float: right;
    line-height: 38px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: "Tekton";
}


/* Home page */

#main {
    /* Body of home page */
    background-image: url("newspapers.png");
    background-size: cover;
    background-repeat: no-repeat;
}

img.logo {
    /* Umbrella icon and RainyDay in the center of the page */
    margin-top: 150px;
}

#logo {
    /* Umbrella icon only */
    padding-left: 80px;
}

#subtitle {
    /* Text below umbrella icon and RainyDay */
    text-align: center;
    font-family: "Tekton";
    font-weight: 100;
    font-size: 22px;
    color: white;
}

/* About Rainy Day */
#about {
    text-align: center;
    text-decoration: underline;
    font-family: "Tekton";
    font-weight: 100;
    font-size: 22px;
    color: white;
}

/* Team Description */
#teamdesc {
    padding-right: 200px;
    padding-left: 200px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 100;
    font-size: 18px;
    color: white;
}

#about_us {
    padding-top: 500px;
}

/* Search page */

#search_and_update {
    /* Black area below navigation bar */
    background-color: #111111;
    top: 0;
    left: 0;
    height: 25%;
    width: 70%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: -1;
}

div img.form_logo {
    /* Umbrella icon and RainyDay on the left side of form */
    display: block;
    float: left;
    margin-top: 70px;
}

#form_logo {
    /* Umbrella icon only */
    margin-left: 50px;
}

#keyword {
    /* Keyword input */
    width: 40%;
    height: 30px;
    margin-top: 110px;
    margin-right: 8px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 3px;
    border-color: #eaecef;
    transition: 1s;
}

#keyword:hover {
    /* Keyword input on mouse over */
    box-shadow: 0px 0px 15px #0061ff;
    transition: 0.5s;
}

#keyword:focus {
    /* Keyword input on focus */
    box-shadow: 0px 0px 15px #01b504;
    transition: 0.5s;
}

#keyword:not(focus) {
    /* Keyword input on loses focus */
    box-shadow: none;
    transition: 0.5s;
}

#algorithm {
    /* Algorithm selection */
    width: 125px;
    height: 30px;
    margin-top: 110px;
    margin-left: 8px;
    margin-right: 8px;
    border-style: solid;
    border-radius: 3px;
    border-color: #eaecef;
    transition: 1s;
}

#algorithm:hover {
    /* Algorithm selection on mouse over */
    box-shadow: 0px 0px 15px #0061ff;
    transition: 0.5s;
}

#algorithm:focus {
    /* Algorithm selection on focus */
    box-shadow: 0px 0px 15px #01b504;
    transition: 0.5s;
}

#algorithm:not(focus) {
    /* Algorithm selection on loses focus */
    box-shadow: none;
    transition: 0.5s;
}

#updater {
    /* Update button */
    background-color: #4286f4;
    background-image: url("update.png");
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: #4286f4;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin-top: 110px;
    margin-left: 8px;
    margin-right: 8px;
}

#updater:hover {
    /* Update button on mouse over*/
    box-shadow: 0px 0px 15px #4286f4;
    transition: 0.5s;
}

#update_message {
    /* Update message container */
    background-color: #111111;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    top: 0;
    left: 70%;
    height: 25%;
    width: 30%;
    position: fixed;
    z-index: -1;
}

#message {
    /* Message from updater */
    margin-top: 115px;
    margin-left: 10px;
    color: white;
    font-family: "Tekton";
    font-size: 18px;
}